<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>공고 상세보기</h4>
              <hr>
				공고 상세 화면
				<br>
				<br>
				<button type="button" class="btn btn-primary" >수정하기</button>
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>