<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		
		
		<h1>일정세부조회</h1>
		
		<table border="1px">
	 	<tr>
	 		<td>담당자</td>
	 		<td>담당자명</td>
	 		<td>날짜</td>
	 		<td>차수</td>
	 		<td>일정명</td>
	 		<td>세부확인</td>
	 		<td>수정</td>
	 		<td>삭제</td>
	 	</tr>
	 	<tr th:each="s:${AllSchedule}">
	 		<td><a>담당부서</a></td>
	 		<td th:text="${s.man_com_cd}"></td>
	 		<td th:text="${s.fest_sch_dt}"></td>
	 		<td th:text="${s.fest_sch_no}"></td>
	 		<td th:text="${s.fest_sche_nm}"></td>
	 		<td th:text="${s.fest_sche_task}"></td>
	 		<td><a>수정</a></td>
	 		<td><a>삭제</a></td> 		
	 	</tr>
	 </table>
		
		
		
		
		
		
		
		
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>
