<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>프로그램조회</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
	

	 	<tr >

	 	</tr>
	 </table>
		
	- 페이징 해야함
	- 검색기능 해야함
		
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>프로그램 조회</h4>
              <div align="right">
              <a th:href="@{pro_insertProgram}" >
              <button type="button" class="btn btn-primary btn-lg" align="right">신규 프로그램 등록</button></a>  
              </div>
              <hr>
              <table class="table table-striped table-advance table-hover">
                
                <thead>
                  <tr>
                    <th>프로그램명</th>
                    <th>일차</th>
                    <th>장소</th>
                    <th>시작시간</th>
                    <th>프로그램설명</th>
                    <th>관람연령</th>
                    <th>티켓금액</th>
                    <th>상세확인</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="l:${AllProgram}">  
			 		<td th:text="${l.fest_pro_nm}"></td>
			 		<td th:text="${l.festprodiv_day_cd}"></td>
			 		<td th:text="${l.festprodiv_pla_cd}"></td>
			 		<td th:text="${l.festpro_time_start}"></td>
			 		<td th:text="${l.fest_pro_detail}"></td>
			 		<td th:text="${l.fest_pro_agelevel}"></td>
			 		<td th:text="${l.festpro_ticket_cost}"></td>
			 		<td>
			 		  <a th:href="@{/pro_sProList(fest_pro_cd=${l.fest_pro_cd})}">
			 		  <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button></a>
			 		 
			 		</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>		
		
		
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>