<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		프로그램 성격분류 수정
		
		<div>
		<a th:href="@{/pro_divList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">취소</button></a>        
		<a th:href="@{/pro_divList}">
		<button type="button" class="btn btn-primary btn-lg" align="right">수정완료</button></a>          
        </div>
		
		
		
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>
