<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>위원회신청서리스트</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>위원회참가신청서관리1</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>값1</td>
                    <td>값1</td>
                    <td>값1</td>
                    <td><a th:href="@{/updateCommitteeAppForm}">수정</a></td>
                    <td><a th:href="@{/committeeAppFormView}">삭제</a></td>
                    
                  </tr>

                </tbody>
              </table>
            </div>
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>