<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>축제자원봉사 신청서 등록</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>축제자원봉사 신청서 등록</h4>
              <hr>
				<form th:action="@{/InsertVolunteerAppForm}" method="post">
					<table border="1">
						<tr>
							<td>축제자원봉사 신청서관리</td>
							<td>
								<input type="text" name="#">
							</td>
						</tr>
						<tr>
							<td>지원분야</td>
							<td>
								<input type="text" name="#">
							</td>
						</tr>
						<tr>
							<td>신청자이름</td>
							<td>
								<input type="text" name="#">
							</td>
						</tr>
						<tr>
							<td>
								<button type="submit">축제자원봉사 신청서 등록</button>
							</td>
						</tr>
					</table>
				</form>	
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>