<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >

       <section id="home" class="home text-right">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-4">
                            <div class="main_home_content">
                                <div class="single_home">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>전주세계소리축제2019</h1>
                                        <h1 class="subtitle">홍보영상</h1>

                                        <div class="video_play_icon">
                                            <a href="https://www.youtube.com/embed/7F-t_hmQxmI"><i class="fa fa-play-circle-o"></i></a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>제89회춘향제</h1>
                                        <h1 class="subtitle">홍보영상</h1>

                                        <div class="video_play_icon">
                                            <a href="https://www.youtube.com/embed/5wJ1z42zciM"><i class="fa fa-play-circle-o"></i></a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h1>임실치즈축제</h1>
                                        <h1 class="subtitle">홍보영상</h1>

                                        <div class="video_play_icon">
                                            <a href="https://www.youtube.com/embed/8C3s1SAQe3I"><i class="fa fa-play-circle-o"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
</html>