<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>공지사항</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>공지사항</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>공지번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>조회수</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>001</td>
                    <td>
                    <a th:href="@{/announcementDetail}">
                    	소리마켓 용역 선정 공고
                    </td>
                    <td>최다미</td>
                    <td>2019-12-18</td>
                    <td>11</td>
                  </tr>

                </tbody>
              </table>
            </div>
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>