<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		모든시설분류리스트
			<style>
			  table {
			    width: 100%;
			    border-top: 1px solid #444444;
			    border-collapse: collapse;
			  }
			  th, td {
			    border-bottom: 1px solid #444444;
			    padding: 10px;
			    text-align: center;
			  }
			  th {
			    background-color: #bbdefb;
			  }
			  td /* {
			    background-color: #e3f2fd;
			  } */
			</style>
			<table>
					<tr>
						<th>시설분류</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
					<tr th:each="cf : ${classificationList}">
						<td th:text= "${cf.catNm}"></td>
						<td>
							<a th:href="@{/classificationUpdate}">수정연결</a>
						</td>
						<td>
							<a th:href="@{/classificationDelete}">삭제연결</a>
						</td>					
					</tr>
			</table>
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>