<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		시설안전점검후지적관리수정

			<div class="form-panel">
              <div class=" form">		
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="@{/maintenanceUpdate}">
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">시설명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staNm" type="text" name="staNm" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">축제명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="festNm" type="text" name="festNm" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검일자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="maicheDt" type="text" name="maicheDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검기관</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="maiinsIn" type="text" name="maiinsIn" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검기관담당자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="mairesHuman" type="text" name="mairesHuman" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">지적사항</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="maiCad" type="text" name="maiCad" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">재점검일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="mairecDt" type="text" name="mairecDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">점검상태</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="maistaChe" type="text" name="maistaChe" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">보완완료일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="maisupDt" type="text" name="maisupDt" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">담당자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="comNm2" type="text" name="comNm2" />
                    </div>
                  </div>
                   <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit" value="등록">등록</button>
                      <button class="btn btn-theme04" type="button">취소</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            </th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>