<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		시설안전점검후유지보수리스트
			<style>
			  table {
			    width: 100%;
			    border-top: 1px solid #444444;
			    border-collapse: collapse;
			  }
			  th, td {
			    border-bottom: 1px solid #444444;
			    padding: 10px;
			    text-align: center;
			  }
			  th {
			    background-color: #bbdefb;
			  }
			  td /* {
			    background-color: #e3f2fd;
			  } */
			</style>
			
			<table>
					<tr>
						<th>시설명</th>
						<th>축제명</th>
						<th>점검일자</th>
						<th>점검기관</th>
						<th>점검기관담당자</th>
						<th>지적사항</th>
						<th>재점검일</th>
						<th>점검상태</th>
						<th>보완완료일</th>
						<th>담당자</th>					
						<th>수정</th>
						<th>삭제</th>
						<th>안전점검항목</th>
					</tr>
					<tr th:each="ml : ${MaintenanceList}">
						<td th:text="${ml.staNm}"></td>
						<td th:text="${ml.festNm}"></td>
						<td th:text="${ml.maicheDt}"></td>
						<td th:text="${ml.maiinsIn}"></td>
						<td th:text="${ml.mairesHuman}"></td>
						<td th:text="${ml.maiCad}"></td>
						<td th:text="${ml.mairecDt}"></td>
						<td th:text="${ml.maistaChe}"></td>
						<td th:text="${ml.maisupDt}"></td>
						<td th:text="${ml.comNm2}"></td>
						<td>
							<a th:href="@{/maintenanceUpdate}">수정</a>
						</td>
						<td>
							<a th:href="@{/maintenanceDelete}">삭제</a>
						</td>
						<td>
							<a th:href="@{/checkList}">안전점검리스트</a>
						</td>
					</tr>
			</table>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>