<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		모든축제별임시시설설치및철거관리등록

			<div class="form-panel">
              <div class=" form">		
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="@{/temporaryInsert}">
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">시설명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staNm" type="text" name="staNm" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">축제명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="festNm" type="text" name="festNm" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치시작일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stastaDt" type="text" name="stastaDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치종료일</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staendDt" type="text" name="staendDt" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">계약설치모델명</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsMo" type="text" name="stainsMo" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치장소</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsSc" type="text" name="stainsSc" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치개수</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsNum" type="text" name="stainsNum" />
                    </div>
                  </div>
                  <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치내용</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon" type="text" name="stainsCon" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">근무인원</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staWorksta" type="text" name="staWorksta" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">철거확인일자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stademDt" type="text" name="stademDt" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">철거확인자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="staChe" type="text" name="staChe" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">담당자</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="comNm2" type="text" name="comNm2" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치상태1</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon1" type="text" name="stainsCon1" />
                    </div>
                  </div>
                   <div class="form-group ">
                    <label for="cname" class="control-label col-lg-2">설치상태2</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="stainsCon2" type="text" name="stainsCon2" />
                    </div>
                  </div>
                   <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit" value="등록">등록</button>
                      <button class="btn btn-theme04" type="button">취소</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
      	</th:block>      
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>