<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처회원리스트</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
			<style>
			  table {
			    width: 100%;
			    border-top: 1px solid #444444;
			    border-collapse: collapse;
			  }
			  th, td {
			    border-bottom: 1px solid #444444;
			    padding: 10px;
			    text-align: center;
			  }
			  th {
			    background-color: #bbdefb;
			  }
			  td /* {
			    background-color: #e3f2fd;
			  } */
			</style>
			<form th:action="@{/humanSearch}" method="post">
			<select name ="sk">
				<option value="">선택</option>
				<option value="">이름</option>
				<option value="">축제명</option>
				<option value="">담당업무</option>
				<option value="">근무시간</option>
				<option value="">소속</option>
				<option value="">담당자명</option>				
			</select>
			<input type = "text" name="sv">
			<button type="submit" value="검색">검색</button>
		</form>
			
			인적사항리스트
			<table>
					<tr>
						<th style=display:none;></th>
						<th style=display:none;></th>
						<th>번호</th>
						<th>이름</th>
						<th>축제명</th>
						<th>업무</th>
						<th>연락처</th>
						<th>근무시간</th>
						<th>담당자이름</th>
						<th>수정</th>
						<th>삭제</th>
					</tr>
					<tr th:each = "h : ${HumanList}">
						<td th:text = "${h.humancd}" style=display:none;></td>
						<td th:text = "${h.mamcd}" style=display:none;></td>
						<td></td>
						<td th:text = "${h.humanNm}"></td>
						<td th:text = "${h.festNm}"></td>
						<td th:text = "${h.workdivNm}"></td>
						<td th:text = "${h.humanPhone}"></td>
						<td th:text = "${h.humanHour}"></td>
						<td th:text = "${h.comNm2}"></td>
						<td>
							<a th:href="@{/humanUpdate(humancd=${h.humancd})}">수정</a>
						</td>
						<td>
							<a th:href="@{/humanDelete}">삭제</a>
						</td>						
					</tr>
			</table>
		</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>