<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">

<th:block layout:fragment="customHead">
<meta charset="UTF-8">
<title>거래처 회원 등록</title>
<th:block th:include="layout/customHead"></th:block>
</th:block>
	<th:block layout:fragment="customBody">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>모든 거래처 등록</h4>
              <hr>
			<form th:action="@{/allAccountView}" method="get">
					<table border="1">
						<tr>
							<td>거래처코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 행정기관코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>회원코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 회원 레벨코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>축제코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 심사 결과</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 지역 시군코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>전국지역코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>축제명</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>

						<tr style="text-align: center;">
							<td colspan="2">
								<button type="submit">거래처 등록</button>
							</td>
						</tr>
					</table>
				</form>	
	</th:block>
 	<th:block layout:fragment="customJquery">
	<th:block th:include="layout/customJquery"></th:block>
</th:block>
</html>