<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/adminis/adminisdefault}">

<th:block layout:fragment="adminisTitle">
	<title>거래처 회원 수정</title>
</th:block>
	<th:block layout:fragment="adminisMainContents">
		<div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>거래처 회원 수정</h4>
              <hr>
				<form th:action="@{/accountMemberView}" method="get">
					<table border="1">
						<tr>
							<td>하나의 거래처별 소속 회원코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 행정기관코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>회원코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 회원 레벨코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>축제코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 심사 결과</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>모든 지역 시군코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>전국지역코드</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<td>거래처명</td>
							<td>
								<input type="text" name="">
							</td>
						</tr>

						<tr style="text-align: center;">
							<td colspan="2">
								<button type="submit">거래처 회원 수정</button>
							</td>
						</tr>
					</table>
				</form>	
	</th:block>
<th:block layout:fragment="adminisscript">
<th:block th:include="fragments/adminis/adminisscript"></th:block>

</th:block>
</html>